<div class="instagram-feed-container">
    <h3>Our Instagram feed</h3>
    <div class="photo-grid">
      <!-- Imagen 1 -->
      <a href="https://www.instagram.com/extremeadventureacademy/" target="_blank" class="photo-item">
        <img src="assets/campamento_de_verano.jpg" alt="Instagram Photo 1" />
      </a>
  
      <!-- Imagen 2 -->
      <a href="https://www.instagram.com/extremeadventureacademy/" target="_blank" class="photo-item">
        <img src="assets/natacion.jpg" alt="Instagram Photo 2" />
      </a>
  
      <!-- Imagen 3 -->
      <a href="https://www.instagram.com/extremeadventureacademy/" target="_blank" class="photo-item">
        <img src="assets/diversion.jpg" alt="Instagram Photo 3" />
      </a>
  
      <!-- Imagen 4 -->
      <a href="https://www.instagram.com/extremeadventureacademy/" target="_blank" class="photo-item">
        <img src="assets/playapucon.jpg" alt="Instagram Photo 4" />
      </a>
  
      <!-- Imagen 5 -->
      <a href="https://www.instagram.com/extremeadventureacademy/" target="_blank" class="photo-item">
        <img src="assets/snowboard2.jpg" alt="Instagram Photo 5" />
      </a>
  
      <!-- Imagen 6 -->
      <a href="https://www.instagram.com/extremeadventureacademy/" target="_blank" class="photo-item">
        <img src="assets/snowboard.jpg" alt="Instagram Photo 6" />
      </a>
    </div>
  </div>
  