<div class="information-wrapper">
  <div class="information-container">
    <h2>Escuela de verano</h2>
    <p>
      La Escuela de Verano esta siendo fundada este año 2024  con el propósito de ofrecer una experiencia deportiva integral para niños y jóvenes de 8 a 15 años. La idea surgió de la necesidad de proporcionar un espacio seguro, educativo y dinámico durante las vacaciones, donde los participantes pudieran disfrutar de deportes, fortalecer su desarrollo personal y vivir valores fundamentales como el respeto, la disciplina y la cooperación.
    </p>
  </div>
</div>
