<div class="information-wrapper">
    <!-- Lado izquierdo: imagen y texto superpuesto -->
    <div class="image-section">
      <div class="image-container">
        <img src="assets/natacion.jpg" alt="Escalada en la nieve" />
      </div>
    </div>
  
    <!-- Lado derecho: texto informativo -->
    <div class="information-container">
    <h2>¿Cómo nació la idea?</h2>
      <p>
        La idea de crear la Escuela de Verano surgió a partir de la experiencia de un matrimonio con grandes experiencias y aprendizajes en las diversas actividades y  roles de profesionales del deporte y la educación, quienes notamos  que muchas veces los niños y adolescentes no encontraban actividades atractivas y beneficiosas durante sus vacaciones. Las opciones disponibles en ese momento eran limitadas, y en su mayoría, carecían de un enfoque formativo y enriquecedor. La Escuela de Verano fue creada como una respuesta a esta necesidad, con el objetivo de ofrecer una propuesta que combinara actividad física, aprendizaje y diversión en un solo lugar.
      </p>
    </div>
  </div>

  