<footer class="bg-dark text-white py-4">
  <div class="container">
      <div class="row">
          <!-- Columna 1 -->
          <div class="col-md-4">
              <h3>Extreme Adventure Academy</h3>
              <p>Creando experiencias únicas para todos nuestros alumnos. ¡Gracias por elegirnos!</p>
          </div>

          <!-- Columna 2 -->
          <div class="col-md-4">
              <h5>Enlaces Rápidos</h5>
              <ul class="list-unstyled">
                  <li><button (click)="navigateTo('home')" class="btn btn-link text-white">Inicio</button></li>
                  <li><button (click)="navigateTo('header-questions')" class="btn btn-link text-white">Proceso de compra</button></li>
                  <li><button (click)="navigateTo('date-price')" class="btn btn-link text-white">Fechas y Precios</button></li>
                  <li><button (click)="navigateTo('rules')" class="btn btn-link text-white">Reglas</button></li>
              </ul>
          </div>

          <!-- Columna 3 -->
          <div class="col-md-4">
              <h5>Contacto</h5>
              <ul class="list-unstyled">
                  
                  <li><i class="bi bi-envelope-fill"></i> extremeadventureacademy&#64;gmail.com</li>
                  <li><i class="bi bi-geo-alt-fill"></i> Pucón, Chile</li>
              </ul>
          </div>
      </div>

      <hr class="my-3" />

      <div class="text-center">
          <p>&copy; 2024 Extreme Adventure Academy. Todos los derechos reservados.</p>
      </div>
  </div>
</footer>
