<div class="header-container">
    <!-- Navbar -->
    <app-navbar></app-navbar>
  
    <!-- Imagen de fondo -->
    <img src="assets/rafting.png" alt="Header Image" class="header-image">
  
    <!-- Contenido del texto centrado -->
    <div class="header-text">
         <!-- Nuevo título -->
        <div class="header-title-container">
            <h1 class="header-title">Fechas</h1>
            <p class="header-subtitle">y Precios</p>
        </div>
        <h1 class="main-title">EXTREME ADVENTURE ACADEMY</h1>
        <p class="header-location">
            Pucon, Chile 
            <i class="bi bi-geo-alt-fill location-icon"></i> <!-- Ícono de ubicación -->
        </p>
    </div>
  
</div>
