<div class="information-wrapper">
    <!-- Lado izquierdo: imagen -->
    <div class="image-section">
      <div class="image-container">
        <img src="assets/puconwallpaper.jpeg" alt="Escalada en la nieve" />
      </div>
    </div>
  
    <!-- Lado derecho: texto informativo -->
    <div class="information-container">
      <h2>Nuestra Misión</h2> <!-- Título añadido -->
      <p>
        Brindar a los niños y jóvenes la oportunidad de descubrir y disfrutar de una variedad de deportes, desarrollando sus habilidades, conocimientos y valores en un entorno seguro y estimulante. Nuestra misión es contribuir a formar personas activas, responsables, respetuosas y con una actitud positiva ante los desafíos de la vida.
      </p>
    </div>
  </div>
  