<div class="information-wrapper">
  <!-- Lado izquierdo: imagen y texto superpuesto -->
  <div class="image-section">
    <div class="image-container">
      <img src="assets/natacion.jpg" alt="Escalada en la nieve" />
      <div class="overlay-text">
        <p>#Pucon</p>
      </div>
    </div>
  </div>

  <!-- Lado derecho: texto informativo -->
  <div class="information-container">
    <h2>Acerca de Extreme Adventure Academy </h2>
    <p>
      En 2024, nació Extreme Adventure Academy con el objetivo de satisfacer una necesidad única en la hermosa ciudad lacustre de Pucón: ofrecer experiencias inolvidables en entornos naturales espectaculares. Nuestro compromiso es brindar actividades que los niños y niñas atesorarán por el resto de sus vidas.
    </p>
    <p>
      Este año, nos hemos propuesto recibir a niños y adolescentes en una variedad de programas diseñados para fomentar el aprendizaje, la diversión y la aventura. Contamos con décadas de experiencia trabajando con jóvenes, lo que nos ha permitido perfeccionar nuestra labor y destacarnos en la creación de momentos significativos para nuestros campistas.
    </p>
    <p>
      En Extreme Adventure Academy, disponemos de múltiples ubicaciones cuidadosamente seleccionadas para garantizar que cada actividad se lleve a cabo en un entorno seguro y enriquecedor. Nos sentimos especialmente orgullosos de nuestras actividades de verano, cuyas postulaciones ya están disponibles a través de nuestro sitio web. Además, nuestras actividades de invierno, igual de diversas y emocionantes, prometen ofrecer una experiencia extraordinaria en cada temporada.
    </p>
    <p>
      Nuestro equipo, altamente capacitado y apasionado por lo que hace, trabaja incansablemente durante todo el año para diseñar programas que no solo diviertan, sino que también eduquen e inspiren. En cada experiencia, buscamos que los campistas adquieran conocimientos, forjen amistades y creen recuerdos que perdurarán toda la vida.
    </p>
    <p>
      ¡Te invitamos a ser parte de esta aventura y vivir momentos únicos con nosotros!
    </p>
  </div>
</div>
