<div class="header-container">
    <!-- Navbar -->
    <app-navbar></app-navbar>
  
    <!-- Imagen de fondo -->
    <img src="assets/ciclismo.jpg" alt="Header Image" class="header-image">
  
    <!-- Contenido del texto centrado -->
    <div class="header-text">
         <!-- Nuevo título -->
        <div class="header-title-container">
            <h1 class="header-title">Preguntas</h1>
            <p class="header-subtitle">Frecuentes</p>
        </div>
        <h1 class="main-title">Extreme Adventure Academy</h1>
        <p class="header-location">
            Pucón, Chile  
            <i class="bi bi-geo-alt-fill location-icon"></i> <!-- Ícono de ubicación -->
        </p>
    </div>
  
</div>

<app-procces-to-inscription></app-procces-to-inscription>

<app-footer></app-footer>
