<div class="main-content">
    <div class="container">
      <h2>Eliminar Registro</h2>
      <form (ngSubmit)="onSubmit()" #form="ngForm">
        <div class="mb-3">
          <label class="form-label">Ingrese el ID de registro</label>
          <input 
            type="number" 
            class="form-control" 
            [(ngModel)]="registrationId" 
            name="registrationId" 
            required 
            placeholder="Ingrese el ID de registro"
          />
        </div>
    
        <button type="submit" class="btn btn-primary">Confirmar</button>
      </form>
    </div>
  </div>
  