<div class="main-content">
    <!-- Título centrado en el Main Content -->
    <div class="title-container">
        <h2 class="main-title-text">Campamento Extreme Adventure Academy</h2>
    </div>

    <div class="card-container">
      <!-- Tarjeta 1: Requisitos del Campamento -->
      <div class="card">
        <h3>REQUISITOS</h3>
        <ul>
          <li>- Equipo personal: ropa cómoda</li>
          <li>- Documentación de salud</li>
          <li>- Seguro de accidentes</li>
          <li>- Carpa</li>
          <li>- Saco de dormir y colchoneta</li>
          <li>- Útiles de aseo: cepillo de dientes, pasta de dientes, medicamentos según lo requiera</li>
          <li>- Bloqueador</li>
          <li>- Repelente para mosquitos</li>
          <li>- Toalla</li>
          <li>- Muda de ropa</li>
          <li>- Calzado adecuado para senderismo</li>
          <li>- Hawaianas para descansar los pies y relajarse</li>
          <li>- Linterna</li>
        </ul>
      </div>
  
      <!-- Tarjeta 2: Itinerario Día 23 -->
      <div class="card">
        <h3>23 DE ENERO</h3>
        <ul>
          <li><strong>9:00 AM</strong> - Salida de bus al Parque Huerquehue. <em>(Respetar horario de salida)</em></li>
          <li><strong>10:30 AM</strong> - Desayuno</li>
          <li><strong>11:00 AM</strong> - Bienvenida y Juego de Presentación: Dinámica de integración (Ej. Nombre y adjetivo, Red de nombres)</li>
          <li><strong>12:00 PM</strong> - Caminata de Exploración: Aprender sobre el entorno natural</li>
          <li><strong>2:30 PM - 3:00 PM</strong> - Almuerzo (Picnic en el campo)</li>
          <li><strong>4:00 PM</strong> - Actividades Físicas y Juegos en Equipo: Kayak y SUP (Retroalimentación)</li>
          <li><strong>6:00 PM</strong> - Carreras de Obstáculos: Saco, arrastrarse bajo cuerdas, saltos en zigzag</li>
          <li><strong>7:30 PM</strong> - Cena</li>
          <li><strong>9:00 PM</strong> - Cine Nocturno: Película Familiar</li>
          <li><strong>Después del cine</strong> - Prepararse para descansar</li>
        </ul>
      </div>
  
      <!-- Tarjeta 3: Itinerario Día 24 -->
      <div class="card">
        <h3>24 ENERO</h3>
        <ul>
            <li><strong>9:00 AM</strong> - Desayuno</li>
            <li><strong>10:00 AM</strong> - Caminata de Exploración</li>
            <li><strong>2:00 PM</strong> - Almuerzo</li>
            <li><strong>4:00 PM</strong> - Actividades Recreativas: Kayak y SUP</li>
            <li><strong>5:00 PM</strong> - Juegos en Equipo - Carreras de Obstáculos</li>
            <li><strong>6:00 PM</strong> - Taller de Supervivencia Básica: Nudos de cuerda, colgar hamaca, etc.</li>
            <li><strong>7:00 PM</strong> - Cena de Despedida</li>
            <li><strong>8:00 PM</strong> - Fogata y actividad de compartir historias o canciones</li>
            <li><strong>9:00 PM</strong> - Competencia de Talentos o Show de Campamento</li>
            <li><strong>10:00 PM</strong> - Estrellas y Observación Nocturna</li>
            <li><strong>11:00 PM</strong> - Despedida: Círculo de despedida y entrega de obsequios simbólicos</li>
          </ul>

      </div>
  
      <!-- Tarjeta 4: Información Comidas -->
      <div class="card">
        <h3>COMIDAS</h3>
        <ul>
          <li><strong>Día 23:</strong></li>
          <ul>
            <li><strong>Desayuno:</strong> Café, Té, pan, cereal, leche chocolatada, leche normal, queso, jamón, galletas, jugo, yogurt.</li>
            <li><strong>Almuerzo:</strong> Tallarinata con salsas rojas, carne, pollo y espinacas.</li>
            <li><strong>Postre:</strong> Frutas.</li>
          </ul>
  
          <li><strong>Día 24:</strong></li>
          <ul>
            <li><strong>Desayuno:</strong> Café, Té, pan, cereal, leche chocolatada, leche normal, queso, jamón, galletas, jugo, yogurt.</li>
            <li><strong>Almuerzo:</strong> Tallarinata con salsas rojas, carne, pollo y espinacas.</li>
            <li><strong>Postre:</strong> Frutas.</li>
            <li><strong>Cena:</strong> Hamburguesas de carne o vegetarianas con jugo o bebidas.</li>
          </ul>
        </ul>
      </div>
  </div>
</div>
