<div class="login-container">
  <img src="assets/campamento_de_verano.jpg" alt="Campamento de Verano" class="background-image" />
  <div class="form-container">
    <div class="card shadow p-4">
      <img src="assets/logo2.png" alt="Logo" class="logo" />
      <h2 class="text-center text-primary mb-4">Login</h2>
      <form (ngSubmit)="onLogin()">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            id="email"
            class="form-control"
            placeholder="example@gmail.com"
            [(ngModel)]="email"
            name="email"
            required
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Contraseña</label>
          <input
            type="password"
            id="password"
            class="form-control"
            placeholder="Enter your password"
            [(ngModel)]="password"
            name="password"
            required
          />
        </div>
        <!-- Mensaje de error -->
        <div *ngIf="errorMessage" class="text-danger mb-3">
          {{ errorMessage }}
        </div>
        <!-- Mensaje de carga -->
        <div *ngIf="isLoading" class="text-info mb-3">
          Espere mientras se procesa su solicitud...
        </div>
        <button
          type="submit"
          class="btn btn-primary w-100 mb-2"
          [disabled]="!isFormValid() || isLoading"
          id="login-btn"
        >
          Login
        </button>
        <button
          type="button"
          class="btn btn-outline-primary w-100 mb-2"
          (click)="goToRegister()"
        >
          Registrarse
        </button>
        <button
          type="button"
          class="btn btn-outline-secondary w-100"
          (click)="goHome()"
        >
          Volver a Inicio
        </button>
      </form>
    </div>
  </div>
</div>


<app-footer></app-footer>
