<div class="what-we-offer-container">
  <!-- Título centrado -->
  <h3 class="section-title">LO QUE OFRECEMOS</h3>

  <!-- Línea curva en SVG -->
  <div class="sine-wave">
    <svg
      viewBox="0 0 1000 200"
      preserveAspectRatio="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M0,100 C150,200 350,0 500,100 C650,200 850,0 1000,100"
        stroke="white"
        stroke-width="4"
        fill="none"
      />
    </svg>
  </div>

  <div class="icon-container">
    <!-- Imagen 1 -->
    <div class="icon-item">
      <img src="assets/ciclismoicon.png" alt="Ciclismo">
      <h3>ACTIVIDADES AL AIRE LIBRE</h3>
      <p>Te ofrecemos experiencias únicas al aire libre, donde podrás disfrutar de la naturaleza y vivir aventuras inolvidables en entornos espectaculares.</p>
    </div>

    <!-- Imagen 2 -->
    <div class="icon-item">
      <img src="assets/trekkingicon.png" alt="Trekking">
      <h3>ACTIVIDADES DE MONTAÑA Y AVENTURA</h3>
      <p>Disfruta de emocionantes experiencias de montaña y aventura, explorando paisajes impresionantes y desafiando tus límites en un entorno natural único.</p>
    </div>

    <!-- Imagen 3 -->
    <div class="icon-item">
      <img src="assets/kayakicon.png" alt="Kayak">
      <h3>ACTIVIDAD NÁUTICA DE AVENTURA</h3>
      <p>Vive la emoción de las actividades náuticas de aventura, explorando cuerpos de agua mientras disfrutas de adrenalina y paisajes impresionantes.</p>
    </div>

    <!-- Imagen 4 -->
    <div class="icon-item">
      <img src="assets/cabalgataicon.png" alt="Cabalgata">
      <h3>ACTIVIDAD ENCUESTRE</h3>
      <p>Disfruta de una experiencia única en contacto con la naturaleza a través de la actividad ecuestre, explorando paisajes espectaculares a caballo y viviendo una aventura inolvidable.</p>
    </div>
  </div>
</div>