.maintenance-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
    text-align: center;
  }
  
  .maintenance-container h1 {
    font-size: 2.5rem;
    color: #555;
    margin-bottom: 20px;
  }
  
  .maintenance-image {
    width: 150px;
    height: auto;
    animation: spin 6s linear infinite;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  