<div class="main-content">
  <div class="container">
    <h2 class="title">Consultar Registros por Semana</h2>
    <form (ngSubmit)="onSubmit()" class="form-container">
      <div class="mb-3">
        <label class="form-label">Número de Semana</label>
        <input 
          type="number" 
          class="form-control" 
          [(ngModel)]="weekId" 
          name="weekId" 
          required 
          placeholder="Ingrese el número de la semana"
        />
      </div>

      <button type="submit" class="btn btn-primary">Consultar Registros</button>
    </form>

    <!-- Lista de registros desplegables -->
    <div *ngIf="registrations.length > 0" class="registrations">
      <h3>Registros</h3>
      <div *ngFor="let registration of registrations">
        <div class="card mt-2">
          <div class="card-body">
            <p><strong>Nombre del niño:</strong> {{ registration.registration_name }}</p>
            <p><strong>RUT:</strong> {{ registration.rut }}</p>
            <p><strong>Teléfono:</strong> {{ registration.phone_number }}</p>
            <p>
              <strong>Condición médica:</strong> 
              {{ formatMedicalCondition(registration.medical_condition) }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
