<div class="about-more-camps-container">
    <h3>Síguenos en nuestras redes sociales</h3>
    <div class="social-icons">
      <a href="https://www.facebook.com/extremeadventureacademy" target="_blank" class="social-link">
        <i class="bi bi-facebook"></i>
      </a>
      <a href="https://www.instagram.com/extremeadventureacademy" target="_blank" class="social-link">
        <i class="bi bi-instagram"></i>
      </a>
      <a href="https://www.twitter.com/extremeadventureacademy" target="_blank" class="social-link">
        <i class="bi bi-twitter"></i>
      </a>
      <a href="https://www.youtube.com/extremeadventureacademy" target="_blank" class="social-link">
        <i class="bi bi-youtube"></i>
      </a>
    </div>
  </div>
  