<div class="header-container">
    <!-- Navbar -->
    <app-navbar></app-navbar>
  
    <!-- Imagen de fondo -->
    <img src="assets/playapucon.jpg" alt="Header Image" class="header-image" />
  
    <!-- Contenido del texto centrado -->
    <div class="header-text">
      <div class="header-title-container">
        <h1 class="header-title">Contactanos</h1>
      </div>
      <h1 class="main-title">Extreme Adventure Academy</h1>
      <p class="header-location">
        Pucon, Chile
        <i class="bi bi-geo-alt-fill location-icon"></i>
      </p>
    </div>
  </div>
  