<div class="information-wrapper">
    <!-- Lado izquierdo: imagen y texto superpuesto -->
    <div class="image-section">
      <div class="image-container">
        <img src="assets/ojosdelcaburga.jpg" alt="Escalada en la nieve" />
      </div>
    </div>
  
    <!-- Lado derecho: texto informativo -->
    <div class="information-container">
      <p>
        Desde su inicio, hemos trabajado con la visión de fomentar una cultura de actividad física y bienestar en las nuevas generaciones, promoviendo tanto la salud física como el desarrollo emocional, social y acercar a sus familias padres y cercanos en este desafio de una forma mas recreativa para unir lazos familiares que es el lema de nuestra escuela. La familia, la unión y el amor en las cercanías con nuestros hijos y cercanos.
      </p>
    </div>
  </div>

  