<div class="priorities-container">
    <h2 class="title">Nuestras Actividades</h2> <!-- Título añadido -->
    <div class="image-container">
      <!-- Imagen 1 -->
      <div class="image-item">
        <img src="assets/natacion2.jpeg" alt="Security" />
        <h3>NATACIÓN</h3>
       <p>
        Clases de iniciación y perfeccionamiento en técnicas de nado, seguridad en el agua y juegos acuático.
       </p>
      </div>
  
      <!-- Imagen 2 -->
      <div class="image-item">
        <img src="assets/ciclismo3.webp" alt="Fun" />
        <h3>CICLISMO</h3>
        <p>
            Medidas de seguridad, técnicas de pedaleo y seguridad, trabajo en equipo, perseverancia en el esfuerzo de la disciplina del ciclismo de ruta y ciclismo de ruta como deporte.
        </p>
      </div>
  
      <!-- Imagen 3 -->
      <div class="image-item">
        <img src="assets/trekking3.jpg" alt="Personal Development" />
        <h3>SENDERISMO(TREKKING)</h3>
        <p>Técnicas de marcha, conectando con el entorno de la naturaleza, el cuidado y protección de aquella.</p>
      </div>
  
      <!-- Imagen 4 -->
      <div class="image-item">
        <img src="assets/escalada3.jpg" alt="Respeto" />
        <h3>ESCALADA</h3>
        <p>Técnicas básicas de escalada en boulder,  acondicionamiento física para dichas actividades.</p>
      </div>
  
      <!-- Imagen 5 -->
      <div class="image-item">
        <img src="assets/cabalgata3.jpg" alt="Colaboración" />
        <h3>CABALGATA</h3>
        <p>Medidas básicas de seguridad,  Las cabalgatas son una oportunidad ideal para enseñar a los niños cómo cuidar a los caballos.</p>
      </div>
    </div>
  </div>
  