<div class="main-content">
    <!-- Título centrado en el Main Content -->
    <div class="title-container">
        <img src="assets/cabalgataicon.png" alt="Logo del campamento" class="camp-image">
        <h2 class="main-title-text">
            Extreme Adventure Academy
        </h2>
        <img src="assets/kayakicon.png" alt="Logo del campamento" class="camp-image">
    </div>

    <div class="card-container">
      <!-- Tarjeta 1: Requisitos del Campamento -->
      <div class="card">
        <h3>CONSEJOS ADICIONALES</h3>
        <ul>
          <li>Estas actividades están diseñadas para equilibrar la aventura, el aprendizaje y la diversión.</li>
          <li>De esta manera, los niños y adolescentes no solo disfrutarán de las actividades, sino que también fortalecerán sus habilidades sociales, físicas y cognitivas durante el campamento.</li>
        </ul>
      </div>
  
      <!-- Tarjeta 2: Información -->
      <div class="card">
        <h3>INFORMACIÓN</h3>
        <ul>
          <li><strong>Identificación</strong> - Identificación de cada grupo según edad y color a través de una pulsera: Verde de 7 a 10 años y amarillo 11 a 15 años.</li>
          <li><strong>Requerimientos</strong> - Para cada actividad se deberán pedir los elementos que se necesiten según sus requerimientos e involucrar en las actividades diarias.</li>
        </ul>
      </div>

      <div class="card">
        <h3>RACIÓN DE MARCHA</h3>
        <ul>
          <li>- AGUA, SNICKERS, FRUTOS SECOS, FRUTA SEGÚN SU GUSTO.</li>
        </ul>
      </div>
    </div>
</div>
