<div class="header-container">
    <!-- Navbar -->
    <app-navbar></app-navbar>
  
    <!-- Imagen de fondo -->
    <img src="assets/natacion.jpg" alt="Header Image" class="header-image">
  
    <!-- Contenido del texto centrado -->
    <div class="header-text">
         <!-- Nuevo título -->
        <div class="header-title-container">
            <h1 class="header-title">Sobre</h1>
            <p class="header-subtitle">Nosotros</p>
        </div>
        <h1 class="main-title">Extreme Adventure Academy</h1>
        <p class="header-location">
            Pucon, Chile 
            <i class="bi bi-geo-alt-fill location-icon"></i> <!-- Ícono de ubicación -->
        </p>
    </div>
</div>
<app-summer-school-information></app-summer-school-information>
<app-summer-information2></app-summer-information2>
<app-mision-information></app-mision-information>
<app-idea-information></app-idea-information>
<app-activities-information></app-activities-information>
<app-aprender-informacion></app-aprender-informacion>
<app-footer></app-footer>
