.header-container {
    display: flex; /* Cambiado a Flexbox */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa toda la pantalla */
    width: 100%;
    position: relative;
    overflow: hidden; /* Evita desbordes */
    text-align: center; /* Centra el texto horizontalmente */
  }
  
  .header-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen al tamaño del contenedor */
    z-index: 1; /* Coloca la imagen detrás del contenido */
  }
  
  .header-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.95) 10%, rgba(0, 0, 0, 0.7) 30%, rgba(0, 0, 0, 0.3) 70%, rgba(0, 0, 0, 0));
    z-index: 2; /* Asegura que el degradado esté encima de la imagen */
  }
  
  .header-text {
    position: relative;
    z-index: 3; /* Asegura que el texto esté encima del degradado */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Espaciado entre elementos */
    color: white;
  }
  
  .header-title-container {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en dispositivos pequeños */
    justify-content: center;
    align-items: baseline;
    gap: 10px;
  }
  
  .header-title {
    font-size: clamp(2.5rem, 6vw, 5rem); /* Ajuste dinámico del tamaño */
    font-weight: bold;
    margin: 0;
    line-height: 1.2;
    color: white;
  }
  
  .header-subtitle {
    font-size: clamp(4.5rem, 4vw, 3rem); /* Tamaño dinámico */
    font-weight: normal;
    margin: 0;
    color: white;
  }
  
  .main-title {
    font-size: clamp(1.5rem, 4vw, 2.5rem); /* Tamaño dinámico */
    font-weight: normal;
    color: white;
    margin: 10px 0;
    text-transform: uppercase;
  }
  
  .header-location {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: clamp(1rem, 2.5vw, 1.2rem); /* Tamaño dinámico */
    color: #ffffff;
    margin-top: 10px;
  }
  
  .location-icon {
    font-size: 1.2rem;
    color: #d9534f;
  }
  
  /* Navbar */
  app-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Media Queries */
  @media (max-width: 768px) {
    .header-container {
      padding: 20px; /* Añade espaciado interno */
    }
  
    .header-text {
      gap: 5px; /* Reduce el espacio entre elementos */
    }
  
    .header-title-container {
      flex-direction: column; /* Apila los títulos en dispositivos pequeños */
      gap: 5px;
    }
  
    .header-location {
      font-size: 1rem; /* Reduce el tamaño del texto */
    }
  }
  