<div class="header-container">
    <!-- Navbar -->
    <app-navbar></app-navbar>
  
    <!-- Imagen de fondo -->
    <img src="assets/rafting.png" alt="Header Image" class="header-image">
  
    <!-- Contenido del texto centrado -->
    <div class="header-text">
         <!-- Nuevo título -->
        <div class="header-title-container">
            <h1 class="header-title">Detalles</h1>
            <p class="header-subtitle">y Reglas</p>
        </div>
        <h1 class="main-title">Extreme Adventure Academy</h1>
        <p class="header-location">
            Pucon, Chile 
            <i class="bi bi-geo-alt-fill location-icon"></i> <!-- Ícono de ubicación -->
        </p>
    </div>
  
</div>

<app-camp-detail></app-camp-detail>
<app-especific-rules></app-especific-rules>
<app-start-process></app-start-process>
<app-footer></app-footer>