.register-container {
  position: relative;
  display: flex; /* Distribuye la imagen y el formulario horizontalmente */
  height: 100vh; /* Ocupa toda la altura de la ventana */
  width: 100%;
  margin: 0; /* Elimina márgenes */
  padding: 0; /* Elimina el padding */
}

/* Imagen de fondo */
.background-image {
  width: 50%; /* Ocupa el 50% del ancho */
  height: 100%; /* Ocupa el 100% del alto */
  object-fit: cover; /* Mantiene la proporción de la imagen */
  z-index: -1; /* Coloca la imagen debajo del formulario */
}

/* Superposición con degradado */
.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* Contenedor del formulario */
.form-container {
  width: 50%; /* Mantener el ancho */
  height: 100%; /* Ocupa toda la altura */
  display: grid; /* Usamos grid */
  grid-template-rows: auto 1fr; /* Logo y formulario en filas */
  justify-items: center; /* Centra el contenido horizontalmente */
  align-items: start; /* Mueve el contenido hacia arriba */
  padding: 20px;
  z-index: 1; /* Asegura que esté sobre la imagen */
  margin-top: -25px; /* Ajustar la distancia desde arriba */
}
/* Logo dentro del formulario */
.logo {
  display: block;
  margin: 0 auto 20px; /* Centra el logo y agrega margen inferior */
  width: 150px; /* Establece el tamaño del logo en 500px */
  height: auto; /* Mantiene la proporción del logo */
}

/* Estilo del formulario */
.card {
  width: 95%; /* Aumenta el ancho del contenedor */
  max-width: 650px; /* Tamaño máximo en pantallas grandes */
  height: auto; /* Deja que la altura dependa del contenido */
  min-height: 600px; /* Garantiza un tamaño mínimo */
  background-color: #f9f9f9; /* Fondo claro */
  border: 1px solid #e6e6e6; /* Borde alrededor */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para profundidad */
  padding: 40px; /* Más espacio interno */
  border-radius: 10px; /* Bordes ligeramente redondeados */
  margin-top: -10px; /* Ajusta su posición */
}

@media (max-width: 768px) {
  .register-container {
    flex-direction: column; 
    padding: 10px;
  }

  .background-image {
    display: none; /* Oculta la imagen en pantallas pequeñas */
  }
  .form-container {
    width: 100%; 
    padding: 1px;
    grid-template-rows: auto auto; 
    align-items: start;
    margin-top: 30%;
  }

  .card {
    width: 100%; /* Aumenta el ancho del formulario */
    max-width: 500px; /* Permite un formulario más grande en móviles */
    padding: 20px; /* Ajusta el padding en móviles */
    transform: scale(1); /* Restaura el tamaño completo del formulario */
    margin-top: -80px; /* Ajusta la posición */
  }

  .logo {
    width: 120px; /* Ajusta el tamaño del logo */
  }
}
/* Media Query para 1920x1080 */
@media (min-width: 1920px) {
  .register-container {
    padding: 50px;
  }

  .card {
    max-width: 500px;
    padding: 30px;
  }

  .logo {
    width: 470px; /* Asegura que el logo tenga 500px en pantallas grandes */
  }
}
