<div class="register-container">
  <img src="assets/campamento_de_verano.jpg" alt="Campamento de Verano" class="background-image" />
  <div class="background-overlay"></div>

  <div class="form-container">
    <!-- Formulario -->
    <div class="card shadow p-4">
      <!-- Logo dentro del formulario -->
      <img src="assets/logo2.png" alt="Logo" class="logo" />
      <h2 class="text-center text-primary mb-4">Register</h2>
      
      <!-- Mensajes de éxito o error -->
      <div *ngIf="errorMessage" class="alert alert-danger text-center">
        {{ errorMessage }}
      </div>
      <div *ngIf="successMessage" class="alert alert-success text-center">
        {{ successMessage }}
      </div>
      <div *ngIf="isLoading" class="alert alert-info text-center">
        Procesando su solicitud...
      </div>

      <form (ngSubmit)="onRegister()">
        <div class="mb-3">
          <label for="firstName" class="form-label">First Name</label>
          <input type="text" id="firstName" class="form-control" placeholder="Enter your first name" [(ngModel)]="firstName" name="firstName" required />
        </div>

        <div class="mb-3">
          <label for="lastName" class="form-label">Last Name</label>
          <input type="text" id="lastName" class="form-control" placeholder="Enter your last name" [(ngModel)]="lastName" name="lastName" required />
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" id="email" class="form-control" placeholder="example@gmail.com" [(ngModel)]="email" name="email" required />
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" id="password" class="form-control" placeholder="Enter your password" [(ngModel)]="password" name="password" required />
        </div>

        <div class="mb-3">
          <label for="confirmPassword" class="form-label">Confirm Password</label>
          <input type="password" id="confirmPassword" class="form-control" placeholder="Repeat your password" [(ngModel)]="confirmPassword" name="confirmPassword" required />
          <div *ngIf="password && confirmPassword && password !== confirmPassword" class="text-danger">
            Las contraseñas no coinciden.
          </div>
        </div>

        <button type="submit" class="btn btn-primary w-100 mb-2" [disabled]="!isFormValid() || isLoading || password !== confirmPassword">Register</button>
      </form>

      <button type="button" class="btn btn-outline-secondary w-100" (click)="goHome()">Volver a Inicio</button>
    </div>
  </div>
</div>
<app-footer></app-footer>
