.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 2rem 0;
}

.carousel {
  display: flex;
  width: 80%;
  overflow: visible;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  gap: 2rem;
}

/* Estilo básico de las tarjetas */
.day-card {
  position: relative;
  background-color: #4d8abf;
  padding: 2rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  height: auto; /* Ajustar la altura automáticamente según el contenido */
  width: 350px;
  margin-right: 1rem;
  text-align: center;
  flex-shrink: 0;
  transition: border-radius 0.3s ease-in-out;
  z-index: 1;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 0;
  margin-top: 100px;
  display: flex;
  flex-direction: column; /* Organizar contenido verticalmente */
  justify-content: flex-start; /* Asegura que los elementos se alineen al principio */
}

.day-card::before {
  content: '';
  position: absolute;
  top: -25px;
  left: -25px;
  width: 60px;
  height: 60px;
  background-color: #0c347e;
  border-radius: 40px 40px 0px 40px;
  z-index: 2;
  pointer-events: none;
}

.day-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #ffffff;
}

.activity {
  margin-top:10%;
  color: #ffffff;
  font-size: 1rem;
}

.activity p {
  font-size: 0.7rem;
  color: #ffffff;
  display: flex;
  justify-content: start;
  align-items: center;
}

.activity-time,
.activity-title,
.activity-location {
  margin-right: 9px; /* Espacio entre los elementos */
}

.activity-time {
  font-weight: normal;
}

.activity-title {
  font-weight: bold;
}

.activity-location {
  font-style: italic;
}


.carousel-button {
  background-color: #2d3748;
  color: white;
  border: none;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  font-size: 1.5rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
}

.carousel-button.prev {
  left: 2%;
}

.carousel-button.next {
  right: 30px;
}

.activity-requirements {
  margin-top: 100%; /* Esto empuja los requisitos al fondo */
  font-size: 13px;
  text-align: left;
}

.activity-requirements h4 {
  margin-top: 2rem; /* Ajusta el espacio entre el texto de la actividad y los requisitos */
  
}


@media (max-width: 768px) {
  .carousel-track {
    gap: 2rem; /* Mantener el gap en 2rem */
  }

  .carousel-button {
    height: 40px;
    width: 40px;
    font-size: 1.5rem;
  }

  .day-card {
    width: 300px; /* Aumentar el tamaño de la tarjeta en móviles */
    margin-right: 1rem; /* Ajustar el margen entre las tarjetas */
  }
}
