<div class="priorities-container">
    <div class="image-container">
      <!-- Imagen 1 -->
      <div class="image-item">
        <img src="assets/seguridadrafting.jpg" alt="Security" />
        <h3>SEGURIDAD</h3>
        <p>La seguridad es nuestra prioridad: Contamos con entrenadores capacitados, protocolos rigurosos, personal médico disponible y seguro de accidentes para garantizar el bienestar de cada niño.</p> 
      </div>
  
      <!-- Imagen 2 -->
      <div class="image-item">
        <img src="assets/formacionintegral2.jpg" alt="Fun" />
        <h3>DESARROLLO INTEGRAL</h3>
        <p>Utilizamos el deporte como herramienta para mejorar habilidades físicas y desarrollar competencias sociales, emocionales y cognitivas, enseñando valores como trabajo en equipo, perseverancia y esfuerzo.</p>
      </div>
  
      <!-- Imagen 3 -->
      <div class="image-item">
        <img src="assets/cabalgatakids.jpg" alt="Personal Development" />
        <h3>DESARROLLO PERSONAL</h3>
        <p>Fomentamos el crecimiento integral de niños y jóvenes, promoviendo confianza, resiliencia, liderazgo y autonomía, además de fortalecer el trabajo en equipo y la toma de decisiones.</p>
      </div>
  
      <!-- Nueva Imagen: Respeto -->
      <div class="image-item">
        <img src="assets/respetokids.jpg" alt="Respeto" />
        <h3>RESPETO</h3>
        <p>Fomentamos la valoración de las diferencias y la convivencia armoniosa, base para relaciones saludables en el deporte y la vida.</p>
      </div>
    </div>
  </div>
  