<div class="header-container">
    <!-- Navbar -->
    <app-navbar></app-navbar>
  
    <!-- Imagen de fondo -->
    <img src="assets/campamento_de_verano.jpg" alt="Header Image" class="header-image">
  
    <!-- Contenido del texto centrado -->
    <div class="header-text">
         <!-- Nuevo título -->
        <div class="header-title-container">
            <h1 class="header-title">Reglas</h1>
            <p class="header-subtitle"></p>
        </div>
        <h1 class="main-title">Extreme Adventure Academy</h1>
        <p class="header-location">
            Pucon, Chile 
            <i class="bi bi-geo-alt-fill location-icon"></i> <!-- Ícono de ubicación -->
        </p>
    </div>
  
</div>
<app-general-rules></app-general-rules>
<app-tutor-rules></app-tutor-rules>
<app-especific-rules></app-especific-rules>
<app-footer></app-footer>

